.container{
    /* width: 350px; */
    height: 550px;
    /* height: auto; */
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px rgba(0,0,0,0.5); */
    /* box-shadow: 2px 2px 20px grey; */
    margin-top: 60px;
    border:1px solid grey;
}
body{
    margin:0;
}
.return p{
    margin:0;
    font-weight: bold;
}
.grid{
    padding:10px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(4,1fr); */
    gap:10px;
}
.container img{
 width:200px ;
 height: 200px;
 margin-left: 25px;
 margin-top: 10px;
 
}
.paragraph{
    margin-left: 25px;
}
.fa-star{
    /* color: gold; */
    color:#f59e0b;
    font-size: 25px;
    
}
/* .fa-star-half{
    color: gold;
    font-size: 20px;
} */
 .fa-star-half-stroke{
    /* color: gold; */
    color:#f59e0b;
    font-size: 25px;
}
.stars{
    display: flex;
    gap: 5px;

}
a{
    color:#506784;
    font-size: 20px;
    margin-left: 20px;
}
span{
    color:#156ddc;
    font-size: 20px;
}
select{
    /* margin-left: 25px; */
    padding: 5px 10px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    gap: 5px;
    margin-right: 12px;
    margin-top: 10px;
}
.btn1{
    background-color:#ffd15c;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-family:Tahoma, sans-serif ;
    font-size: large;
}
.btn2{
    background-color: #f59e0b;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-family:Tahoma, sans-serif ;
    font-size: large;

}
.btn1:hover{
    background-color: #f59e0b;
    color: white;
    cursor: pointer;
}
.btn2:hover{
    background-color: #ffd15c;
    color: white;
    cursor: pointer;
}
.p1{
    color:#218e41;
    font-size: 20px;
    font-weight: bold;
    font-family:Tahoma, sans-serif;
}
.p2{
    color:black;
    font-size: 20px;
    font-family:Tahoma, sans-serif;
}
.div1{
    width:200px;
    height:100px;
}
h2{
    font-size: 20px;
    font-family:Tahoma, sans-serif;
}
.nav{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background-color: #0d1117;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    /* color: white;
    font-size: 30px;
    font-family:Tahoma, sans-serif; */
    width: 70px;
    height: 50px;
}
.logo-a img{
    width: 40px;
    height: 40px;
}
.return{
    color: white;
    font-size: 20px;
    font-family:Tahoma, sans-serif;
}
.cart{
    color: white;
    font-size: 20px;
    font-family:Tahoma, sans-serif;
    position: relative;
}
.nav input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 0;
    flex:1;
    min-width: 0;


}
.nav {
    /* width: 98%; */
    top:0;
    left:0;
    right:0;
    display: flex;
    position :fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap:10px;
}
.search-box{
    display: flex;
    flex:1;
}
.search-box button{
    /* background-color: #ffd15c; */
   background-color: #f59e0b;
    color: black;
    border: none;
    /* padding: 5px 10px; */
    border-radius: 5px;
    font-family:Tahoma, sans-serif ;
    /* font-size: large; */
    cursor:pointer;

}
.search-box button:hover{
    background-color: #f59e0b;
    /* background-color: #ffd15c; */
    color: white;
}
.number{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    border: #0d1117 solid 2px;

}
.number span{
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.logo-a{
    display: none;
}

/* الموبايل */
@media (max-width: 768px) {
    .nav {
        /* flex-direction: column;
        align-items: stretch;
        gap: 10px; */
        /* width: 100%; */
        padding: 10px;
        gap: 10px;
        justify-content: space-around;

    }
    .logo-a {
        display: block;
        text-align: center;
        font-size: 20px;
        color:white;
    }
    

    .logo {
    
        display: none;
        text-align: center;
        font-size: 20px;
    }

    .nav input {
        /* width: 100px; */
        padding: 8px;
        width:0;
    }

    .return, .cart {
        text-align: center;
        font-size: 14px;
    }
    .search-box button {
        padding: 5px 10px;
        font-size: 14px;
    }
}
